table.jexcel td.readonly {
    background-color: #fbfbfb;
    color: #3a3a3a!important;
}

.jexcel > thead > tr > td {
    white-space: initial;
}

.workarea-content-paddings {
    overflow-x: hidden!important;
}

.spreadsheet-scroll-x {
    overflow-x:auto!important;
}

.jstable-main {
    margin-bottom:100px!important;
}